html,
body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 15px;
}
section{
    padding: 14% 0 5% 0%;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', serif;
	color:#fff;
	font-weight: normal;
	letter-spacing: 1px;
}
h1{font-size: 60px; line-height: 60px; padding-bottom: 4%; margin: 0;}
h5{font-size: 28px; line-height: 35px; padding: 0; margin: 0; color: #fff;}

a {
	color: #b7b7b7;
	text-decoration:none;
	font-weight: normal;
}
a:hover {text-decoration:underline;}

#maximage {
	display:none;
	position:fixed !important;

}

#logo {
	font-family: 'Lato', serif;
	font-size: 50px;
	top:60px;
	height:auto;
	left:40px;
	position:absolute;
	width:50%;
	z-index:1000;
	color: #fff;
}
.main-nav{
	position:absolute;
	top: 50px;
	left:600px;
	z-index:1001;
}
.main-nav ul li { 
	list-style: none;
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #b7b7b7;
}
.main-nav ul li a.active {color: #ffa800;}